*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
}

#ingredients, .contents{
    color: black;
    list-style: none;
}

li{
    display: inline-block;
    margin: 10px;
}

span{
    background-color: lightpink;
    padding: 20px;
}